.spotify_embed {
    width : 100%;
    height: 10vh;
}


iframe {
    width : 80px;
}

table {
    width : 100%;
}

th {
    font-size : 200%;
}

td {
    font-size : 130%;
}

th, td {
    font-family : 'Orbitron', sans-serif;
    background : -webkit-linear-gradient(#e1e1e1, #a0a0a0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.song-album, .song_title, .song_rank, .avg_rank {
    font-size : 200%;
    text-align : center;
}

.song_listen th {

}

#table_container {
    margin-left : 0;
    margin-right: 0;
}

/* table padding rules */
@media only screen and (min-width: 812px) {
    .spotify_embed {
        width: 33%;
        height: 25vh;
    }

    #table_container {
        margin-left : 15vw;
        margin-right: 15vw;
    }
}

@media only screen and (min-width: 1280px) {
    .spotify_embed {
        width: 33%;
        height: 25vh;
    }

    #table_container {
        margin-left : 20vw;
        margin-right: 20vw;
    }
}

.send_button {
    border : 2px solid white;
    border-radius : 20%;
    width : 20vw;
    margin-left : 40vw;
    margin-right : 40vw;
}

.unranked_divider {
    font-family : 'Orbitron', sans-serif;
    font-size : 180%;
    letter-spacing: 0;
    position: relative;
    text-wrap : none;
    width : 100%;
}

.send_button:hover {
    cursor : pointer;
}

#submit_confirm, #submit_deconfirm {
    margin-top : 5px;
    margin-bottom: 5px;
}

#submit_confirm, #submit_deconfirm, #submission_msg {
    display : none;
}

input {
    display : none;
}


/* fix dragging library style */
/* remove red table background */
.sindu_dragger table{
    background: none!important;
}

/* remove ghost when dragging */
.gu-mirror {
    display : none;
}