
@-webkit-keyframes rotate {
    0%{background-position:bottom left}
    25%{background-position:top left}
    50%{background-position:top right}
    75%{background-position:bottom right}
    100%{background-position:bottom left}
}
@-moz-keyframes rotate {
    0%{background-position:bottom left}
    25%{background-position:top left}
    50%{background-position:top right}
    75%{background-position:bottom right}
    100%{background-position:bottom left}
}

@keyframes rotate {
    0%{background-position:bottom left}
    25%{background-position:top left}
    50%{background-position:top right}
    75%{background-position:bottom right}
    100%{background-position:bottom left}
}

html {
    height: 100vh;
    background-image : radial-gradient(rgb(12, 80, 12), rgb(0, 0, 0));
}

#main_page {
    background-size: 200% 200%;

    /* animation stuffs */
    -webkit-animation: rotate 40s infinite;
    -moz-animation: rotate 40s infinite;
    animation : rotate 40s infinite;
}

.main_title {
    font-size : 6vh;
}

.sub_title {
    font-size : 2.5vh;
}

.listen_button {
    color : white;
    background-color : white;
    border-radius : 20%;
    border : 1px solid white;
    padding-left : 1em;
    padding-right : 1em;
    font-family : 'Orbitron', sans-serif;
    letter-spacing: 0.15em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.listen_button:hover {
    border: 2px solid white;
    cursor : pointer;
}

.listen_button:focus {
    background-color : rgb(56, 99, 255);
}

.sub_title, .main_title, .table_title {
    /* alignment */
    text-align : center;

    /* font */
    font-family : 'Orbitron', sans-serif;
    letter-spacing: 0.15em;
    background : -webkit-linear-gradient(#e1e1e1, #a0a0a0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#main_text_container {
    margin-top : 38vh;
}

#main_about {
    margin-top : 25vh;
}

@media only screen and (min-width: 812px) {
    .sub_title, .main_title {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    #main_about {
        margin-top : 30vh;
    }
}

@media only screen and (min-width: 1280px) {
    .sub_title, .main_title {
        margin-left: 15vw;
        margin-right: 15vw;
    }
    #main_about {
        margin-top : 35vh;
    }
}

.title a {
    background : -webkit-linear-gradient(rgb(56, 99, 255), rgba(16, 80, 153, 0.84));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#main_text {
    text-align: center;
}
